* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 70%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.column2 {
  float: right;
  width: 30%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.Ul1 {
  margin-top: 50px;
  columns: 2;
  /* column-gap: -100px; */
  list-style-type: none;
}

.Ul2 {
  list-style-type: none;
  text-align: left;
  margin-top: 10px;
  margin-right: 50px;
}

.Div {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  margin-right: 15px;
  margin-top: 10px;
}

.material-icons.md {
  font-size: 13px;
  color: rgb(22, 55, 43);
  background-color: rgb(104, 195, 163);
}
