.Image {
  width: 319px;
  height: 370px;
  margin-top: 10px;
  margin-left: 7px;
  position: inherit;
  border-radius: 5px;
}

.Frame {
  margin-left: 6px;
  margin-top: -200px;
  padding-right: 1cm;
  padding-bottom: 20px;
  border-radius: 5px;
}